body{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgb(255, 255, 255);
  background-image: url("fondo.png") ;
  background-size: contain;

}

.login{
  margin-top: 50px;
  align-self: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-style: outset;
  background-color: rgba(255, 255, 255, 0.884);
  p{
    align-self: center;
  }
  form{
    display: flex;
    flex-direction: column;
    margin: 10px;
    select{
      display: flex;
      flex-direction: column;
      padding: 5px;
      margin: 5px;
    }
    input{
      display: flex;
      flex-direction: column;
      padding: 5px;
      margin: 5px;
    }
    button{
      display: flex;
      flex-direction: column;
      padding: 5px;
      margin: 5px;
    }
  }
}

.customheader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(240, 248, 255, 0.786);
  margin: 10px;
}
.user{
  display: flex;
  flex-direction: row;
  img{
    max-width: 30px;
    max-height: 30px;
    align-self: center;
    border-radius: 120%;
  }
  
}

.formm{
  display: flex;
 
 align-self: center;
}
.portal{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  height: 90dvh;
}
.menuportal{
  align-self: center;
  display: flex;
  padding: 20px;
  flex-direction: column;
  margin: 20px;
  width: 182px;
  height: 90%;
  background-color: rgba(240, 248, 255, 0.786);
  border-style: solid;
  border-radius: 2px;
  border-color: darkgreen;
  h1{
    display: flex;
    
    
  }
}

.menuclientes{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  border-top-style: solid;
  
    border-top-color: darkgreen;
  a{
    color: black;
    display: flex;
    text-decoration: none;
    justify-content: center;
    background-color: rgba(30, 103, 46, 0.689);
    border-style: solid;
    border-radius: 2px;
  }
}